@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: black;
}

.translate-div {
    text-align: center;
    position: sticky;
    top: 0px;
}

.heading {
    height: 350px;
    /* Adjust the overall header height */
    width: 100%;
    background-color: black;
    display: flex;
    margin-bottom: 20px;
}

.first_section {
    flex: 3;
    /* Represents 75% of the header */
    background-color: black;
    color: antiquewhite;
    font-family: 'Yatra One', system-ui;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-content {
    text-align: center;
}

.first_section img {
    width: 150px;
}

.second_section {
    flex: 1;
    /* Represents 25% of the header */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Ensure the image doesn't overflow */
}

.second_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
}

.english {
    display: none;
}

.garjana-request {
    font-family: 'Yatra One', system-ui;
    color: antiquewhite;
    text-align: center;
}

.shivgarjana {
    display: flex;
    font-family: 'Yatra One', system-ui;
    color: antiquewhite;
    font-size: 22px;
}

.half {
    flex: 1;
    height: auto;
    /* Adjust the height as needed */
}

.shivgarjana .half {
    margin: 20px 30px;
}

.shivgarjana .left-half,
.shivgarjana .right-half {
    text-align: center;
}

.shivgarjana h1 {
    margin-bottom: 15px;
}

.translation {
    text-align: left;
    font-size: 22px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border: 1px solid #ccc;
}

.opacity {
    opacity: 0.5;
}


.dive {
    font-family: 'Yatra One', system-ui;
    color: antiquewhite;
    text-align: center;
    margin-bottom: 20px;
}

/* ----------------------- */

.movie_frame {
    width: 100%;
    height: 852px;
    color: antiquewhite;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.movie {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Yatra One', system-ui;
    color: antiquewhite;
}

.movie.active {
    display: block;
}

.horizontal-partition {
    display: flex;
    height: 100%;
}

.partition {
    flex: 1;
    height: 100%;
}

.ledt {
    background-color: black;
    padding: 0px 50px;
}

.rihht {
    background-color: black;
}




/* --------------------------------------------------- */

.image-container {
    position: relative;
    height: 100%;
    width: 100%;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    overflow: hidden;
    box-shadow: -15px 0 4px 1px rgba(110, 110, 110, 0.5);
    transition: background-image 0.3s ease-in-out;
    /* Adding a smooth transition effect */
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* Ensure the image fits within its container */
}

.f1-p1-english,
.f1-p1-marathi {
    margin-bottom: 40px;
    font-size: 50px;
    text-align: center;
}

.f1-p2-english,
.f1-p2-marathi {
    margin-bottom: 50px;
    font-size: 40px;
}

.f1-p3-english,
.f1-p3-marathi {
    margin-bottom: 50px;
    font-size: 40px;
}

.f1-p4-english,
.f1-p4-marathi {
    margin-bottom: 50px;
    font-size: 40px;
}

.f1-p5-english,
.f1-p5-marathi {
    font-size: 40px;
}

/* ---------------------------------------------------------------------- */

h4 {
    display: none;
}


/* ----------------------------------------------------------------------- */

.head,
.head-qw {
    margin-bottom: 40px;
    font-size: 50px;
    text-align: center;
}

.two,
.twob,
.twoc,
.twod,
.twoe,
.twof,
.twog,
.twoh,
.twoi,
.twoj,
.twok,
.twol,
.twom,
.twon,
.four,
.fourb,
.fourc,
.fourd,
.foure,
.fourf,
.fourg,
.fourh,
.fouri,
.fourj,
.fourk,
.fourl,
.fourm,
.fourn,
.six,
.sixb,
.sixc,
.sixd,
.sixe,
.sixf,
.sixg,
.sixh,
.sixi,
.sixj,
.sixk,
.sixl,
.sixm,
.sixn,
.eight,
.eightb,
.eightc,
.eightd,
.eighte,
.eightf,
.eightg,
.eighth,
.eighti,
.eightj,
.eightk,
.eightl,
.eightm,
.eightn,
.ten,
.tenb,
.tenc,
.tend,
.tene,
.tenf,
.teng,
.tenh,
.teni,
.tenj,
.tenk,
.tenl,
.tenm,
.tenn,
.twelve,
.twelveb,
.twelvec,
.twelved,
.twelvee,
.twelvef,
.twelveg,
.twelveh,
.twelvei,
.twelvej,
.twelvek,
.twelvel,
.twelvem,
.twelven {
    margin-bottom: 50px;
    font-size: 40px;
    cursor: pointer;
}

.h31,
.h32,
.h33,
.h34,
.h35,
.h36 {
    margin-bottom: 50px;
    font-size: 40px;
    cursor: pointer;
}

.three,
.threeb,
.threec,
.threed,
.threee,
.threef,
.threeg,
.threeh,
.threei,
.threej,
.threek,
.threel,
.threem,
.threen,
.five,
.fiveb,
.fivec,
.fived,
.fivee,
.fivef,
.fiveg,
.fiveh,
.fivei,
.fivej,
.fivek,
.fivel,
.fivem,
.fiven,
.seven,
.sevenb,
.sevenc,
.sevend,
.sevene,
.sevenf,
.seveng,
.sevenh,
.seveni,
.sevenj,
.sevenk,
.sevenl,
.sevenm,
.sevenn,
.nine,
.nineb,
.ninec,
.nined,
.ninee,
.ninef,
.nineg,
.nineh,
.ninei,
.ninej,
.ninek,
.ninel,
.ninem,
.ninen,
.eleven,
.elevenb,
.elevenc,
.elevend,
.elevene,
.elevenf,
.eleveng,
.elevenh,
.eleveni,
.elevenj,
.elevenk,
.elevenl,
.elevenm,
.elevenn,
.thirteen,
.thirteenb,
.thirteenc,
.thirteend,
.thirteene,
.thirteenf,
.thirteeng,
.thirteenh,
.thirteeni,
.thirteenj,
.thirteenk,
.thirteenl,
.thirteenm,
.thirteenn {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}

.h41,
.h42,
.h43,
.h44,
.h45,
.h46 {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
}


.simp-txt {
    font-size: 25px;
    margin-bottom: 15px;
}


/* =====================Responsive Page============================= */

@media only screen and (max-width: 1680px) {
    .movie_frame {
        height: 750px;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 30px;
        font-size: 45px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 30px;
        font-size: 30px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 30px;
    }

    .head,
    .head-qw {
        margin-bottom: 15px;
        font-size: 36px;
        text-align: center;
    }

    .div4 .head-qw,
    .div7 .head-qw {
        font-size: 33px;
        margin-bottom: 10px;
    }

    .two,
    .twob,
    .twoc,
    .twod,
    .twoe,
    .twof,
    .twog,
    .twoh,
    .twoi,
    .twoj,
    .twok,
    .twol,
    .twom,
    .twon,
    .four,
    .fourb,
    .fourc,
    .fourd,
    .foure,
    .fourf,
    .fourg,
    .fourh,
    .fouri,
    .fourj,
    .fourk,
    .fourl,
    .fourm,
    .fourn,
    .six,
    .sixb,
    .sixc,
    .sixd,
    .sixe,
    .sixf,
    .sixg,
    .sixh,
    .sixi,
    .sixj,
    .sixk,
    .sixl,
    .sixm,
    .sixn,
    .eight,
    .eightb,
    .eightc,
    .eightd,
    .eighte,
    .eightf,
    .eightg,
    .eighth,
    .eighti,
    .eightj,
    .eightk,
    .eightl,
    .eightm,
    .eightn,
    .ten,
    .tenb,
    .tenc,
    .tend,
    .tene,
    .tenf,
    .teng,
    .tenh,
    .teni,
    .tenj,
    .tenk,
    .tenl,
    .tenm,
    .tenn,
    .twelve,
    .twelveb,
    .twelvec,
    .twelved,
    .twelvee,
    .twelvef,
    .twelveg,
    .twelveh,
    .twelvei,
    .twelvej,
    .twelvek,
    .twelvel,
    .twelvem,
    .twelven {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .h31,
    .h32,
    .h33,
    .h34,
    .h35,
    .h36 {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 28px;
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 28px;
    }


    .simp-txt {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .div15 .simp-txt {
        font-size: 19.8px;
        margin-bottom: 10px;
    }

    .div7 .threef,
    .div7 .fivef,
    .div7 .sevenf,
    .div7 .ninef,
    .div7 .elevenf,
    .div10 .threei,
    .div10 .fivei,
    .div10 .seveni,
    .div10 .ninei,
    .div10 .eleveni {
        font-size: 24px;
    }

    .div7 .h41,
    .div7 .h42,
    .div7 .h43,
    .div7 .h44,
    .div7 .h45,
    .div10 .h41,
    .div10 .h42,
    .div10 .h43,
    .div10 .h44,
    .div10 .h45 {
        font-size: 24px;
    }

}

/* ------------------------------------------------ */
@media only screen and (max-width: 1600px) {
    .movie_frame {
        height: 650px;
    }

    .div15 .simp-txt {
        font-size: 19px;
        margin-bottom: 10px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-width: 1440px) {

    .movie_frame {
        height: 605px;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 25px;
        font-size: 43px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 25px;
        font-size: 28px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 25px;
        font-size: 28px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 25px;
        font-size: 28px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 28px;
    }

    .head,
    .head-qw {
        margin-bottom: 15px;
        font-size: 35px;
        text-align: center;
    }

    .two,
    .twob,
    .twoc,
    .twod,
    .twoe,
    .twof,
    .twog,
    .twoh,
    .twoi,
    .twoj,
    .twok,
    .twol,
    .twom,
    .twon,
    .four,
    .fourb,
    .fourc,
    .fourd,
    .foure,
    .fourf,
    .fourg,
    .fourh,
    .fouri,
    .fourj,
    .fourk,
    .fourl,
    .fourm,
    .fourn,
    .six,
    .sixb,
    .sixc,
    .sixd,
    .sixe,
    .sixf,
    .sixg,
    .sixh,
    .sixi,
    .sixj,
    .sixk,
    .sixl,
    .sixm,
    .sixn,
    .eight,
    .eightb,
    .eightc,
    .eightd,
    .eighte,
    .eightf,
    .eightg,
    .eighth,
    .eighti,
    .eightj,
    .eightk,
    .eightl,
    .eightm,
    .eightn,
    .ten,
    .tenb,
    .tenc,
    .tend,
    .tene,
    .tenf,
    .teng,
    .tenh,
    .teni,
    .tenj,
    .tenk,
    .tenl,
    .tenm,
    .tenn,
    .twelve,
    .twelveb,
    .twelvec,
    .twelved,
    .twelvee,
    .twelvef,
    .twelveg,
    .twelveh,
    .twelvei,
    .twelvej,
    .twelvek,
    .twelvel,
    .twelvem,
    .twelven {
        margin-bottom: 10px;
        font-size: 26px;
    }

    .h31,
    .h32,
    .h33,
    .h34,
    .h35,
    .h36 {
        margin-bottom: 10px;
        font-size: 26px;
    }

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 25px;
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 20px;
        margin-left: 20px;
        font-size: 25px;
    }

    .simp-txt {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .div15 .simp-txt {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .div11 .threej,
    .div11 .fivej,
    .div11 .sevenj,
    .div11 .ninej,
    .div11 .elevenj {
        font-size: 22px;
    }

    .div11 .h41,
    .div11 .h42,
    .div11 .h43,
    .div11 .h44,
    .div11 .h45 {
        font-size: 22px;
    }

    .div13 .threel,
    .div13 .fivel,
    .div13 .sevenl,
    .div13 .ninel,
    .div13 .elevenl,
    .div13 .thirteenl {
        font-size: 21px;
    }

    .div13 .h41,
    .div13 .h42,
    .div13 .h43,
    .div13 .h44,
    .div13 .h45 {
        font-size: 21px;
    }

    .btns {
        width: 90px;
        height: 90px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-width: 1400px) {

    .movie_frame {
        height: 700px;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 25px;
        font-size: 43px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 25px;
        font-size: 28px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 25px;
        font-size: 28px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 25px;
        font-size: 28px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 28px;
    }

    .two,
    .twob,
    .twoc,
    .twod,
    .twoe,
    .twof,
    .twog,
    .twoh,
    .twoi,
    .twoj,
    .twok,
    .twol,
    .twom,
    .twon,
    .four,
    .fourb,
    .fourc,
    .fourd,
    .foure,
    .fourf,
    .fourg,
    .fourh,
    .fouri,
    .fourj,
    .fourk,
    .fourl,
    .fourm,
    .fourn,
    .six,
    .sixb,
    .sixc,
    .sixd,
    .sixe,
    .sixf,
    .sixg,
    .sixh,
    .sixi,
    .sixj,
    .sixk,
    .sixl,
    .sixm,
    .sixn,
    .eight,
    .eightb,
    .eightc,
    .eightd,
    .eighte,
    .eightf,
    .eightg,
    .eighth,
    .eighti,
    .eightj,
    .eightk,
    .eightl,
    .eightm,
    .eightn,
    .ten,
    .tenb,
    .tenc,
    .tend,
    .tene,
    .tenf,
    .teng,
    .tenh,
    .teni,
    .tenj,
    .tenk,
    .tenl,
    .tenm,
    .tenn,
    .twelve,
    .twelveb,
    .twelvec,
    .twelved,
    .twelvee,
    .twelvef,
    .twelveg,
    .twelveh,
    .twelvei,
    .twelvej,
    .twelvek,
    .twelvel,
    .twelvem,
    .twelven {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .h31,
    .h32,
    .h33,
    .h34,
    .h35,
    .h36 {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .div11 .threej,
    .div11 .fivej,
    .div11 .sevenj,
    .div11 .ninej,
    .div11 .elevenj {
        font-size: 23px;
    }

    .div11 .h41,
    .div11 .h42,
    .div11 .h43,
    .div11 .h44,
    .div11 .h45 {
        font-size: 23px;
    }

    .div13 .threel,
    .div13 .fivel,
    .div13 .sevenl,
    .div13 .ninel,
    .div13 .elevenl,
    .div13 .thirteenl {
        font-size: 22px;
    }

    .div13 .h41,
    .div13 .h42,
    .div13 .h43,
    .div13 .h44,
    .div13 .h45 {
        font-size: 22px;
    }

    .simp-txt {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .div15 .simp-txt {
        font-size: 19.6px;
        margin-bottom: 5px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-width: 1366px) {
    .movie_frame {
        height: 530px;
    }

    .head,
    .head-qw {
        margin-bottom: 15px;
        font-size: 33px;
        text-align: center;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 22px;
        font-size: 40px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 22px;
        font-size: 25px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 22px;
        font-size: 25px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 22px;
        font-size: 25px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 25px;
    }


    .two,
    .twob,
    .twoc,
    .twod,
    .twoe,
    .twof,
    .twog,
    .twoh,
    .twoi,
    .twoj,
    .twok,
    .twol,
    .twom,
    .twon,
    .four,
    .fourb,
    .fourc,
    .fourd,
    .foure,
    .fourf,
    .fourg,
    .fourh,
    .fouri,
    .fourj,
    .fourk,
    .fourl,
    .fourm,
    .fourn,
    .six,
    .sixb,
    .sixc,
    .sixd,
    .sixe,
    .sixf,
    .sixg,
    .sixh,
    .sixi,
    .sixj,
    .sixk,
    .sixl,
    .sixm,
    .sixn,
    .eight,
    .eightb,
    .eightc,
    .eightd,
    .eighte,
    .eightf,
    .eightg,
    .eighth,
    .eighti,
    .eightj,
    .eightk,
    .eightl,
    .eightm,
    .eightn,
    .ten,
    .tenb,
    .tenc,
    .tend,
    .tene,
    .tenf,
    .teng,
    .tenh,
    .teni,
    .tenj,
    .tenk,
    .tenl,
    .tenm,
    .tenn,
    .twelve,
    .twelveb,
    .twelvec,
    .twelved,
    .twelvee,
    .twelvef,
    .twelveg,
    .twelveh,
    .twelvei,
    .twelvej,
    .twelvek,
    .twelvel,
    .twelvem,
    .twelven {
        margin-bottom: 9px;
        font-size: 25px;
    }

    .h31,
    .h32,
    .h33,
    .h34,
    .h35,
    .h36 {
        margin-bottom: 9px;
        font-size: 25px;
    }

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 18px;
        margin-left: 20px;
        font-size: 22px;
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 18px;
        margin-left: 20px;
        font-size: 22px;
    }

    .div4 .head-qw,
    .div7 .head-qw {
        font-size: 31px;
        margin-bottom: 10px;
    }

    .div7 .threef,
    .div7 .fivef,
    .div7 .sevenf,
    .div7 .ninef,
    .div7 .elevenf,
    .div10 .threei,
    .div10 .fivei,
    .div10 .seveni,
    .div10 .ninei,
    .div10 .eleveni {
        font-size: 20px;
    }

    .div7 .h41,
    .div7 .h42,
    .div7 .h43,
    .div7 .h44,
    .div7 .h45,
    .div10 .h41,
    .div10 .h42,
    .div10 .h43,
    .div10 .h44,
    .div10 .h45 {
        font-size: 20px;
    }

    .simp-txt {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .div15 .simp-txt {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .div17 .simp-txt {
        font-size: 19.6px;
        margin-bottom: 5px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-width: 1280px) {
    .movie_frame {
        height: 578px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-width: 1024px) {
    .movie_frame {
        height: 578px;
    }

}

/* -------------------------------------------------- */
@media only screen and (max-height: 768px) {

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 18px;
        font-size: 38px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 18px;
        font-size: 22px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 18px;
        font-size: 22px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 18px;
        font-size: 22px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 22px;
    }

    .btns {
        height: 75px;
        width: 75px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-height: 600px) {
    .btns {
        height: 70px;
        width: 70px;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 15px;
        font-size: 35px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 20px;
    }

    .movie_frame {
        height: 405px;
    }

    .head,
    .head-qw {
        margin-bottom: 10px;
        font-size: 25px;
        text-align: center;
    }

    .div4 .head-qw,
    .div7 .head-qw {
        font-size: 21px;
        margin-bottom: 7px;
    }

    .two,
    .twob,
    .twoc,
    .twod,
    .twoe,
    .twof,
    .twog,
    .twoh,
    .twoi,
    .twoj,
    .twok,
    .twol,
    .twom,
    .twon,
    .four,
    .fourb,
    .fourc,
    .fourd,
    .foure,
    .fourf,
    .fourg,
    .fourh,
    .fouri,
    .fourj,
    .fourk,
    .fourl,
    .fourm,
    .fourn,
    .six,
    .sixb,
    .sixc,
    .sixd,
    .sixe,
    .sixf,
    .sixg,
    .sixh,
    .sixi,
    .sixj,
    .sixk,
    .sixl,
    .sixm,
    .sixn,
    .eight,
    .eightb,
    .eightc,
    .eightd,
    .eighte,
    .eightf,
    .eightg,
    .eighth,
    .eighti,
    .eightj,
    .eightk,
    .eightl,
    .eightm,
    .eightn,
    .ten,
    .tenb,
    .tenc,
    .tend,
    .tene,
    .tenf,
    .teng,
    .tenh,
    .teni,
    .tenj,
    .tenk,
    .tenl,
    .tenm,
    .tenn,
    .twelve,
    .twelveb,
    .twelvec,
    .twelved,
    .twelvee,
    .twelvef,
    .twelveg,
    .twelveh,
    .twelvei,
    .twelvej,
    .twelvek,
    .twelvel,
    .twelvem,
    .twelven {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .h31,
    .h32,
    .h33,
    .h34,
    .h35,
    .h36 {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 15px;
        margin-left: 20px;
        font-size: 16px;
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 15px;
        margin-left: 20px;
        font-size: 16px;
    }


    .simp-txt {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .div15 .simp-txt {
        font-size: 19.8px;
        margin-bottom: 10px;
    }

    .div7 .threef,
    .div7 .fivef,
    .div7 .sevenf,
    .div7 .ninef,
    .div7 .elevenf,
    .div10 .threei,
    .div10 .fivei,
    .div10 .seveni,
    .div10 .ninei,
    .div10 .eleveni {
        font-size: 16px;
    }


    .div7 .h41,
    .div7 .h42,
    .div7 .h43,
    .div7 .h44,
    .div7 .h45,
    .div10 .h41,
    .div10 .h42,
    .div10 .h43,
    .div10 .h44,
    .div10 .h45 {
        font-size: 16px;
    }

    .div11 .threej,
    .div11 .fivej,
    .div11 .sevenj,
    .div11 .ninej,
    .div11 .elevenj {
        font-size: 16px;
    }

    .div11 .h41,
    .div11 .h42,
    .div11 .h43,
    .div11 .h44,
    .div11 .h45 {
        font-size: 16px;
    }

    .div13 .threel,
    .div13 .fivel,
    .div13 .sevenl,
    .div13 .ninel,
    .div13 .elevenl,
    .div13 .thirteenl {
        font-size: 16px;
    }

    .div13 .h41,
    .div13 .h42,
    .div13 .h43,
    .div13 .h44,
    .div13 .h45,
    .div13 .h46 {
        font-size: 16px;
    }

    .simp-txt {
        font-size: 15.5px;
        margin-bottom: 10px;
    }

    .div15 .simp-txt {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .div17 .simp-txt {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-width: 1152px) {
    .movie_frame {
        height: 578px;
    }

    .simp-txt {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .div17 .simp-txt {
        font-size: 17px;
        margin-bottom: 5px;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 12px;
        font-size: 30px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 12px;
        font-size: 15px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 12px;
        font-size: 15px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 12px;
        font-size: 15px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 15px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-width: 1024px) {

    .simp-txt {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .div17 .simp-txt {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .div15 .simp-txt {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .div9 .threeh,
    .div9 .fiveh,
    .div9 .sevenh,
    .div9 .nineh,
    .div9 .eleven {
        margin-bottom: 15px;
        margin-left: 20px;
        font-size: 20px;
    }

    .div9 .h41,
    .div9 .h42,
    .div9 .h43,
    .div9 .h44,
    .div9 .h45 {
        margin-bottom: 15px;
        margin-left: 20px;
        font-size: 20px;
    }

    .div7 .threef,
    .div7 .fivef,
    .div7 .sevenf,
    .div7 .ninef,
    .div7 .elevenf,
    .div10 .threei,
    .div10 .fivei,
    .div10 .seveni,
    .div10 .ninei,
    .div10 .eleveni {
        font-size: 18px;
    }

    .div7 .h41,
    .div7 .h42,
    .div7 .h43,
    .div7 .h44,
    .div7 .h45,
    .div10 .h41,
    .div10 .h42,
    .div10 .h43,
    .div10 .h44,
    .div10 .h45 {
        font-size: 18px;
    }

    .div11 .threej,
    .div11 .fivej,
    .div11 .sevenj,
    .div11 .ninej,
    .div11 .elevenj {
        font-size: 18px;
    }

    .div11 .h41,
    .div11 .h42,
    .div11 .h43,
    .div11 .h44,
    .div11 .h45 {
        font-size: 18px;
    }

    .div13 .threel,
    .div13 .fivel,
    .div13 .sevenl,
    .div13 .ninel,
    .div13 .elevenl,
    .div13 .thirteenl {
        font-size: 18px;
    }

    .div13 .h41,
    .div13 .h42,
    .div13 .h43,
    .div13 .h44,
    .div13 .h45,
    .div13 .h46 {
        font-size: 16px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-width: 959px) {
    .movie_frame {
        height: 590px;
    }

}

/* -------------------------------------------------- */
@media only screen and (max-width: 895px) {
    .movie_frame {
        height: 600px;
    }

}

/* -------------------------------------------------- */
@media only screen and (max-width: 835px) {
    .movie_frame {
        height: 610px;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 12px;
        font-size: 25px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 12px;
        font-size: 12px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 12px;
        font-size: 12px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 12px;
        font-size: 12px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 12px;
    }

    .simp-txt {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .div17 .simp-txt {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .div15 .simp-txt {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 18px;
        margin-left: 20px;
        font-size: 20px;
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 18px;
        margin-left: 20px;
        font-size: 20px;
    }

    .div9 .threeh,
    .div9 .fiveh,
    .div9 .sevenh,
    .div9 .nineh,
    .div9 .eleven {
        margin-bottom: 15px;
        margin-left: 20px;
        font-size: 15px;
    }

    .div9 .h41,
    .div9 .h42,
    .div9 .h43,
    .div9 .h44,
    .div9 .h45 {
        margin-bottom: 15px;
        margin-left: 20px;
        font-size: 15px;
    }

}

/* --------------------------------------------------------- */
@media only screen and (max-width: 768px) {

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 18px;
        margin-left: 20px;
        font-size: 20px;
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 18px;
        margin-left: 20px;
        font-size: 20px;
    }
}

/* -------------------------------------------------------------- */
@media only screen and (max-width: 725px) {
    .movie_frame {
        height: 850px;
    }

    .horizontal-partition {
        flex-direction: column;
        /* Change flex-direction to column for smaller screens */
        align-items: stretch;
        /* Stretch items to full width */
    }

    .rihht {
        width: 100%;
        height: 425px;
    }

    .ledt {
        width: 100%;
        height: 425px;
        padding: 0px 15px;
    }

    .image-container {
        height: 425px;
        border-top-left-radius: 25%;
        border-top-right-radius: 25%;
        border-bottom-left-radius: 0;
        box-shadow: none;
    }

    
    .head,
    .head-qw {
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
    }

    .div4 .head-qw,
    .div7 .head-qw {
        font-size: 30px;
        margin-bottom: 10px;
    }

    

    .two,
    .twob,
    .twoc,
    .twod,
    .twoe,
    .twof,
    .twog,
    .twoh,
    .twoi,
    .twoj,
    .twok,
    .twol,
    .twom,
    .twon,
    .four,
    .fourb,
    .fourc,
    .fourd,
    .foure,
    .fourf,
    .fourg,
    .fourh,
    .fouri,
    .fourj,
    .fourk,
    .fourl,
    .fourm,
    .fourn,
    .six,
    .sixb,
    .sixc,
    .sixd,
    .sixe,
    .sixf,
    .sixg,
    .sixh,
    .sixi,
    .sixj,
    .sixk,
    .sixl,
    .sixm,
    .sixn,
    .eight,
    .eightb,
    .eightc,
    .eightd,
    .eighte,
    .eightf,
    .eightg,
    .eighth,
    .eighti,
    .eightj,
    .eightk,
    .eightl,
    .eightm,
    .eightn,
    .ten,
    .tenb,
    .tenc,
    .tend,
    .tene,
    .tenf,
    .teng,
    .tenh,
    .teni,
    .tenj,
    .tenk,
    .tenl,
    .tenm,
    .tenn,
    .twelve,
    .twelveb,
    .twelvec,
    .twelved,
    .twelvee,
    .twelvef,
    .twelveg,
    .twelveh,
    .twelvei,
    .twelvej,
    .twelvek,
    .twelvel,
    .twelvem,
    .twelven {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .h31,
    .h32,
    .h33,
    .h34,
    .h35,
    .h36 {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 16px;
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 16px;
    }

    .div7 .threef,
    .div7 .fivef,
    .div7 .sevenf,
    .div7 .ninef,
    .div7 .elevenf,
    .div10 .threei,
    .div10 .fivei,
    .div10 .seveni,
    .div10 .ninei,
    .div10 .eleveni {
        font-size: 16px;
    }

    .div7 .h41,
    .div7 .h42,
    .div7 .h43,
    .div7 .h44,
    .div7 .h45,
    .div10 .h41,
    .div10 .h42,
    .div10 .h43,
    .div10 .h44,
    .div10 .h45 {
        font-size: 16px;
    }

    .simp-txt {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

/* -------------------------------------------------- */
@media only screen and (max-width: 565px) {
    .shivgarjana {
        display: block;
    }

    .head,
    .head-qw {
        margin-bottom: 20px;
        font-size: 25px;
        text-align: center;
    }

    .div4 .head-qw,
    .div7 .head-qw {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 14px;
        font-size: 28px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 12px;
        font-size: 16px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 12px;
        font-size: 16px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 12px;
        font-size: 16px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 16px;
    }

    .two,
    .twob,
    .twoc,
    .twod,
    .twoe,
    .twof,
    .twog,
    .twoh,
    .twoi,
    .twoj,
    .twok,
    .twol,
    .twom,
    .twon,
    .four,
    .fourb,
    .fourc,
    .fourd,
    .foure,
    .fourf,
    .fourg,
    .fourh,
    .fouri,
    .fourj,
    .fourk,
    .fourl,
    .fourm,
    .fourn,
    .six,
    .sixb,
    .sixc,
    .sixd,
    .sixe,
    .sixf,
    .sixg,
    .sixh,
    .sixi,
    .sixj,
    .sixk,
    .sixl,
    .sixm,
    .sixn,
    .eight,
    .eightb,
    .eightc,
    .eightd,
    .eighte,
    .eightf,
    .eightg,
    .eighth,
    .eighti,
    .eightj,
    .eightk,
    .eightl,
    .eightm,
    .eightn,
    .ten,
    .tenb,
    .tenc,
    .tend,
    .tene,
    .tenf,
    .teng,
    .tenh,
    .teni,
    .tenj,
    .tenk,
    .tenl,
    .tenm,
    .tenn,
    .twelve,
    .twelveb,
    .twelvec,
    .twelved,
    .twelvee,
    .twelvef,
    .twelveg,
    .twelveh,
    .twelvei,
    .twelvej,
    .twelvek,
    .twelvel,
    .twelvem,
    .twelven {
        margin-bottom: 15px;
        font-size: 19px;
    }

    .h31,
    .h32,
    .h33,
    .h34,
    .h35,
    .h36 {
        margin-bottom: 15px;
        font-size: 19px;
    }

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 15px;
        
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 15px;
    }

    .div7 .threef,
    .div7 .fivef,
    .div7 .sevenf,
    .div7 .ninef,
    .div7 .elevenf,
    .div10 .threei,
    .div10 .fivei,
    .div10 .seveni,
    .div10 .ninei,
    .div10 .eleveni {
        font-size: 15px;
    }

    .div7 .h41,
    .div7 .h42,
    .div7 .h43,
    .div7 .h44,
    .div7 .h45,
    .div10 .h41,
    .div10 .h42,
    .div10 .h43,
    .div10 .h44,
    .div10 .h45 {
        font-size: 15px;
    }

    .div13 .threel,
    .div13 .fivel,
    .div13 .sevenl,
    .div13 .ninel,
    .div13 .elevenl,
    .div13 .thirteenl {
        font-size: 15px;
    }

    .div13 .h41,
    .div13 .h42,
    .div13 .h43,
    .div13 .h44,
    .div13 .h45,
    .div13 .h46 {
        font-size: 15px;
    }

    .simp-txt {
        font-size: 14px;
        margin-bottom: 10px;
    }

}

/* -------------------------------------------------- */
@media only screen and (max-width: 565px) {
    .div15 .simp-txt {
        font-size: 12px;
        margin-bottom: 5px;
    }
}


/* -------------------------------------------------- */
@media only screen and (max-width: 450px) {
    .dive {
        padding: 10px;
    }

    .btns {
        width: 50px;
        height: 50px;
    }

    .div11 .threej,
    .div11 .fivej,
    .div11 .sevenj,
    .div11 .ninej,
    .div11 .elevenj {
        font-size: 15px;
    }

    .div11 .h41,
    .div11 .h42,
    .div11 .h43,
    .div11 .h44,
    .div11 .h45,
    .div11 .h46 {
        font-size: 15px;
    }


}

/* ------------------------------------------------------------- */

@media only screen and (max-height: 880px) {
    .movie_frame {
        height: 760px;
    }

    .horizontal-partition {
        flex-direction: column;
        /* Change flex-direction to column for smaller screens */
        align-items: stretch;
        /* Stretch items to full width */
    }

    .div9 .threeh,
    .div9 .fiveh,
    .div9 .sevenh,
    .div9 .nineh,
    .div9 .eleven {
        margin-bottom: 15px;
        margin-left: 20px;
        font-size: 13px;
    }

    .div9 .h41,
    .div9 .h42,
    .div9 .h43,
    .div9 .h44,
    .div9 .h45,
    .div9 .h46 {
        margin-bottom: 15px;
        margin-left: 20px;
        font-size: 13px;
    }


    .div11 .threej,
    .div11 .fivej,
    .div11 .sevenj,
    .div11 .ninej,
    .div11 .elevenj {
        font-size: 13px;
    }

    .div11 .h41,
    .div11 .h42,
    .div11 .h43,
    .div11 .h44,
    .div11 .h45,
    .div11 .h46 {
        font-size: 13px;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 12px;
        font-size: 27px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 14px;
    }

    .rihht {
        width: 100%;
        height: 380px;
    }

    .ledt {
        width: 100%;
        padding: 0px 15px;
        height: 380px;
    }

    .image-container {
        height: 380px;
    }

    .head,
    .head-qw {
        margin-bottom: 15px;
        font-size: 25px;
        text-align: center;
    }

    .div4 .head-qw,
    .div7 .head-qw {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .two,
    .twob,
    .twoc,
    .twod,
    .twoe,
    .twof,
    .twog,
    .twoh,
    .twoi,
    .twoj,
    .twok,
    .twol,
    .twom,
    .twon,
    .four,
    .fourb,
    .fourc,
    .fourd,
    .foure,
    .fourf,
    .fourg,
    .fourh,
    .fouri,
    .fourj,
    .fourk,
    .fourl,
    .fourm,
    .fourn,
    .six,
    .sixb,
    .sixc,
    .sixd,
    .sixe,
    .sixf,
    .sixg,
    .sixh,
    .sixi,
    .sixj,
    .sixk,
    .sixl,
    .sixm,
    .sixn,
    .eight,
    .eightb,
    .eightc,
    .eightd,
    .eighte,
    .eightf,
    .eightg,
    .eighth,
    .eighti,
    .eightj,
    .eightk,
    .eightl,
    .eightm,
    .eightn,
    .ten,
    .tenb,
    .tenc,
    .tend,
    .tene,
    .tenf,
    .teng,
    .tenh,
    .teni,
    .tenj,
    .tenk,
    .tenl,
    .tenm,
    .tenn,
    .twelve,
    .twelveb,
    .twelvec,
    .twelved,
    .twelvee,
    .twelvef,
    .twelveg,
    .twelveh,
    .twelvei,
    .twelvej,
    .twelvek,
    .twelvel,
    .twelvem,
    .twelven {
        margin-bottom: 15px;
        font-size: 17px;
    }

    .h31,
    .h32,
    .h33,
    .h34,
    .h35,
    .h36 {
        margin-bottom: 15px;
        font-size: 17px;
    }

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 15px;
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 15px;
    }

    .div7 .threef,
    .div7 .fivef,
    .div7 .sevenf,
    .div7 .ninef,
    .div7 .elevenf,
    .div10 .threei,
    .div10 .fivei,
    .div10 .seveni,
    .div10 .ninei,
    .div10 .eleveni {
        font-size: 15px;
    }

    .div7 .h41,
    .div7 .h42,
    .div7 .h43,
    .div7 .h44,
    .div7 .h45,
    .div10 .h41,
    .div10 .h42,
    .div10 .h43,
    .div10 .h44,
    .div10 .h45 {
        font-size: 20px;
    }

    .div13 .threel,
    .div13 .fivel,
    .div13 .sevenl,
    .div13 .ninel,
    .div13 .elevenl,
    .div13 .thirteenl {
        font-size: 15px;
    }

    .div13 .h41,
    .div13 .h42,
    .div13 .h43,
    .div13 .h44,
    .div13 .h45,
    .div13 .h46 {
        font-size: 15px;
    }


    .simp-txt {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .div17 .simp-txt {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .div15 .simp-txt {
        font-size: 10px;
        margin-bottom: 5px;
    }
}

/* -------------------------------------------------------------- */
@media only screen and (max-height: 800px) {
    .movie_frame {
        height: 720px;
    }

    .horizontal-partition {
        flex-direction: column;
        /* Change flex-direction to column for smaller screens */
        align-items: stretch;
        /* Stretch items to full width */
    }

    .rihht {
        width: 100%;
        height: 360px;
    }

    .ledt {
        width: 100%;
        padding: 0px 10px;
        height: 360px;
    }

    .image-container {
        height: 360px;
    }

    .head,
    .head-qw {
        margin-bottom: 15px;
        font-size: 22px;
        text-align: center;
    }

    .div4 .head-qw,
    .div7 .head-qw {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .two,
    .twob,
    .twoc,
    .twod,
    .twoe,
    .twof,
    .twog,
    .twoh,
    .twoi,
    .twoj,
    .twok,
    .twol,
    .twom,
    .twon,
    .four,
    .fourb,
    .fourc,
    .fourd,
    .foure,
    .fourf,
    .fourg,
    .fourh,
    .fouri,
    .fourj,
    .fourk,
    .fourl,
    .fourm,
    .fourn,
    .six,
    .sixb,
    .sixc,
    .sixd,
    .sixe,
    .sixf,
    .sixg,
    .sixh,
    .sixi,
    .sixj,
    .sixk,
    .sixl,
    .sixm,
    .sixn,
    .eight,
    .eightb,
    .eightc,
    .eightd,
    .eighte,
    .eightf,
    .eightg,
    .eighth,
    .eighti,
    .eightj,
    .eightk,
    .eightl,
    .eightm,
    .eightn,
    .ten,
    .tenb,
    .tenc,
    .tend,
    .tene,
    .tenf,
    .teng,
    .tenh,
    .teni,
    .tenj,
    .tenk,
    .tenl,
    .tenm,
    .tenn,
    .twelve,
    .twelveb,
    .twelvec,
    .twelved,
    .twelvee,
    .twelvef,
    .twelveg,
    .twelveh,
    .twelvei,
    .twelvej,
    .twelvek,
    .twelvel,
    .twelvem,
    .twelven {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .h31,
    .h32,
    .h33,
    .h34,
    .h35,
    .h36 {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .three,
    .threeb,
    .threec,
    .threed,
    .threee,
    .threef,
    .threeg,
    .threeh,
    .threei,
    .threej,
    .threek,
    .threel,
    .threem,
    .threen,
    .five,
    .fiveb,
    .fivec,
    .fived,
    .fivee,
    .fivef,
    .fiveg,
    .fiveh,
    .fivei,
    .fivej,
    .fivek,
    .fivel,
    .fivem,
    .fiven,
    .seven,
    .sevenb,
    .sevenc,
    .sevend,
    .sevene,
    .sevenf,
    .seveng,
    .sevenh,
    .seveni,
    .sevenj,
    .sevenk,
    .sevenl,
    .sevenm,
    .sevenn,
    .nine,
    .nineb,
    .ninec,
    .nined,
    .ninee,
    .ninef,
    .nineg,
    .nineh,
    .ninei,
    .ninej,
    .ninek,
    .ninel,
    .ninem,
    .ninen,
    .eleven,
    .elevenb,
    .elevenc,
    .elevend,
    .elevene,
    .elevenf,
    .eleveng,
    .elevenh,
    .eleveni,
    .elevenj,
    .elevenk,
    .elevenl,
    .elevenm,
    .elevenn,
    .thirteen,
    .thirteenb,
    .thirteenc,
    .thirteend,
    .thirteene,
    .thirteenf,
    .thirteeng,
    .thirteenh,
    .thirteeni,
    .thirteenj,
    .thirteenk,
    .thirteenl,
    .thirteenm,
    .thirteenn {
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 13px;
    }

    .h41,
    .h42,
    .h43,
    .h44,
    .h45,
    .h46 {
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 13px;
    }

    .div7 .threef,
    .div7 .fivef,
    .div7 .sevenf,
    .div7 .ninef,
    .div7 .elevenf,
    .div10 .threei,
    .div10 .fivei,
    .div10 .seveni,
    .div10 .ninei,
    .div10 .eleveni {
        font-size: 13px;
    }

    .div7 .h41,
    .div7 .h42,
    .div7 .h43,
    .div7 .h44,
    .div7 .h45,
    .div10 .h41,
    .div10 .h42,
    .div10 .h43,
    .div10 .h44,
    .div10 .h45 {
        font-size: 13px;
    }

    .div13 .threel,
    .div13 .fivel,
    .div13 .sevenl,
    .div13 .ninel,
    .div13 .elevenl,
    .div13 .thirteenl {
        font-size: 13px;
    }

    .div13 .h41,
    .div13 .h42,
    .div13 .h43,
    .div13 .h44,
    .div13 .h45,
    .div13 .h46 {
        font-size: 13px;
    }


    .simp-txt {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .div17 .simp-txt {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .div15 .simp-txt {
        font-size: 9px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-height: 740px) {
    .movie_frame {
        height: 670px;
    }

    .f1-p1-english,
    .f1-p1-marathi {
        margin-bottom: 10px;
        font-size: 25px;
    }

    .f1-p2-english,
    .f1-p2-marathi {
        margin-bottom: 8px;
        font-size: 12px;
    }

    .f1-p3-english,
    .f1-p3-marathi {
        margin-bottom: 8px;
        font-size: 12px;
    }

    .f1-p4-english,
    .f1-p4-marathi {
        margin-bottom: 8px;
        font-size: 12px;
    }

    .f1-p5-english,
    .f1-p5-marathi {
        font-size: 12px;
    }

    .horizontal-partition {
        flex-direction: column;
        /* Change flex-direction to column for smaller screens */
        align-items: stretch;
        /* Stretch items to full width */
    }

    .ledt,
    .rihht {
        width: 100%;
        margin: 0px 10px;
    }

    .rihht {
        height: 335px;
    }

    .ledt {
        height: 335px;
    }

    .image-container {
        height: 335px;
    }


}

@media only screen and (max-height: 670px) {
    .movie_frame {
        height: 600px;
    }

    .horizontal-partition {
        flex-direction: column;
        /* Change flex-direction to column for smaller screens */
        align-items: stretch;
        /* Stretch items to full width */
    }

    .ledt,
    .rihht {
        width: 100%;
        margin: 0px 10px;
    }

    .rihht {
        height: 300px;
    }

    .ledt {
        height: 300px;
    }

    .image-container {
        height: 300px;
    }
}